@model ComponentProcessingAPIProject.Test.view_model.ProcessResponse

@{
    ViewData["Title"] = "ProcessResponse";
}

<h1>ProcessResponse</h1>

<div>
    <h4>ProcessResponse</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessingCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessingCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PackagingAndDeliveryCharge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PackagingAndDeliveryCharge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateofDelivery)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateofDelivery)
        </dd>
    </dl>
    @Html.ActionLink("ok", "CompleteProcess","User", new { RequestId = Model.RequestId }) 
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
